<div class="container-fluid">
  <header class="main_header">
    <h3> Dashboard</h3>
  </header>
  <!-- main section of the page -->
  <section class="main">
      <div class="graph_section">
      <h3> Number of Issue of the Month</h3>
    </div>

    <div class="update_tabs">
    <div class="flex-item">
        <div>
          <li><h4>Hello 1</h4>
          <p>This is the description</p> </li>
          <li><h4>Hello 2</h4>
            <p>This is the description</p> </li>
            <li><h4>Hello 3</h4>
              <p>This is the description</p> </li>
              <li><h4>Hello 4</h4>
                <p>This is the description</p> </li>
        </div>
    </div>
    <div class="flex-item">
        <h3> Recently updated issue</h3>
    </div>
    <div class="flex-item">
        <h3> All Issue</h3>
    </div>
  </div>   
  </section>
   <!-- Main Section ends -->
  </div>