 <!-- navigation bar -->
<!-- <aside class="navbar">
  <a routerLink="/dashboard" class="active"><i class="fa fa-bar-chart"></i> Dashboard</a>
  <a routerLink="/issues" class=""><i class="fa fa-book"></i> Issues</a>
  <a routerLink="/create" class=""><i class="fa fa-pencil"></i> Create</a>
</aside> -->


<ul class="nav nav-sidebar">
      <li><a routerLink="/dashboard" class="active"><i class="fa fa-bar-chart"></i> Dashboard</a></li>
      <li><a routerLink="/issues" class=""><i class="fa fa-book"></i> Issues</a></li>
      <li><a routerLink="/create" class=""><i class="fa fa-pencil"></i> Create</a></li>
</ul>
  

 

  
    
 