.container {
    background-color: rgba(163, 167, 159, 0.568);
}

.navbar {
    margin-top: 0;
    padding: 0;
    width: 25%;
    background-color: #030422;
    position: fixed;
    color:rgb(243, 243, 241);
    height: 100%;
    overflow: auto;
}
     
.navbar a {
    display: block;
    color:rgb(243, 243, 241);
    padding: 12px;
    text-decoration: none;
}
       
.navbar a:hover {
    background-color: rgb(31, 87, 190);
    padding: 10px;
}

.navbar a.active {
    background-color: blue;
    color: white;
    padding: 10px;
}

header {
    background-color: white;
    height : 25px;     
}

.main{
    margin-top: 0;
    margin-left: 25%;
    padding: 15px;
    font-size: 10px;
}
 
.main_header {
    font-size: 15px;
    text-shadow: rgba(16, 17, 16, 0.034);
    font-family: Gabriola;
}

.graph_section{
    background-color:  rgb(243, 243, 241);
}

.update_tabs {
    display: flex;      
}

.flex-item {
    background-color:  rgb(243, 243, 241);
    flex: 1;
    padding: 10px;
    margin-left: 5px;
}

.notification {
    position: relative;
    float: right;
    margin-right: 30px;   
}

.notification a:hover {
    background: rgb(0, 255, 76);
   
}
 
.notification[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    top:2px;
    right:-10px;
    font-size:.4em;
    background:blue;
    color:white;
    width:11px;
    height:11px;
    text-align:center;
    line-height:11px;
    border-radius:50%;
    
}

.image {
    float: right;
    margin-right: 2px;
    width:12px;
    height:12px;
    margin-top:6px;
    border-radius:50%;
}

input {
    border: none;
    background: transparent;
    outline: none; 
    cursor: pointer; 
    min-width:50px;
}

span.title { 
    letter-spacing: 2px;
    font-family: Brush Script MT;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
    color:rgb(18, 138, 64);
    text-shadow: 2px 0px rgb(15, 15, 15);    
}

li {
    list-style : none;
}




