button{
    margin: 7px;
    padding: 10px;
}
.image {
    width: 20px;
    height:20px;
    border-radius:50%;
}
.image-o{
    font-size: 13px;
    font-weight: bold;
}
.card-title{
    font-size: 5px;
    font-weight: bold;
}
.card-subtitle{
    font-size: 8px;
}
span{
    font-size: 15px;
    color: grey;
}
.row-o{
    margin: 10px;
}

