<div class="container-fluid">
<h3>this is issue details page. Welcome you all.</h3>
<div class="row">
    <div class="col-sm-7">
          <button type="button" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-pencil"></i> Edit</button>  
          <button type="button" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-comment"></i> Comment</button>     
          <button type="button" class="btn btn-info btn-xs"> Assign</button>     
          <button type="button" class="btn btn-info btn-xs"> WorkFix</button>     
          <button type="button" class="btn btn-info btn-xs"> Accept</button>     
          <button type="button" class="btn btn-info btn-xs"> WorkFlow</button>        
    </div>
    <div class="col-sm-5">
        <div class="side-o">     
        </div>
    </div>
</div>

<div class="row row-o">
    <div class="col-sm-7">
        Type: Task
    </div>
    <div class="col-sm-4">
        <div class="row">
        <div class="col-xs-6">
            <span>Assignee:</span>
        </div>
        <div class="col-xs-6 image-o">
               <img class="card-img-top image" src="./../assets/default-profie-icon.jpg" alt="pic">
                Abc Name
        </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <span>Reporter:</span>
            </div>
            <div class="col-xs-6 image-o">
                   <img class="card-img-top image" src="./../assets/default-profie-icon.jpg" alt="pic">
                    Abc Name
            </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <span>Votes:</span>
                </div>
                <div class="col-xs-6 image-o">
                       0
                </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <span>Watchers:</span>
                    </div>
                    <div class="col-xs-6 image-o">
                           
                            1 stop watching this issue.
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <span>Created:</span>
                        </div>
                        <div class="col-xs-6 image-o">
                               
                               10.03.2021
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <span>Updated:</span>
                            </div>
                            <div class="col-xs-6 image-o">
                                   
                                10.03.2021
                            </div>
                            </div>
    </div>      
</div> 


</div>